*{
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(24, 28, 39);
    height: 100%;
}

div.container{
    width: 100%;
    max-width: 800px;
    height: auto;
    background: rgb(39, 45, 61);
    text-align: center; 
    margin: 40px auto;
    padding: 20px;
    border-radius: 30px;
    border: 3px solid rgb(75, 75, 190);
    box-shadow: 3px 3px 20px rgb(46, 46, 212);
}

div.container_novaTar{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0px 20px 0px 20px;
}
div.container_novaTar input{
    background: none;
    width: 80%;
    max-width: 600px;
    border: none;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    transition: border-bottom .5s;
}
div.container_novaTar input:focus{
    border-bottom: 2px solid rgb(53, 53, 197);
}

button.btn{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(24, 24, 37);
    font-size: 30px;
    color: white;
    outline: none;
    transition: background-color .5s;
}
button.btn:hover{
    cursor: pointer;
    background-color: rgb(71, 71, 107);
}
div.container_exibir{
    padding-top: 30px;
}
h1{
    font-size: 30pt;
    color: #ffffff;
}
span#text_tarefa{
    font-size: 15pt;
    color: #ffffff;
}
p{
    display: flex;
    margin: 40px 20px 10px 20px;
    padding: 15px 15px 15px 15px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(70, 109, 70);
    border-radius: 20px;
}